body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
  text-decoration: underline;
}

p {
  margin-bottom: 10px;
  text-align: center;
}

code {
  background-color: #f1f1f1;
  padding: 2px 5px;
  border-radius: 3px;
}

